In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [17]:
prior = pd.read_csv("./data/instacart/order_products__prior.csv")
products = pd.read_csv("./data/instacart/products.csv")
orders = pd.read_csv("./data/instacart/orders.csv")
aisles = pd.read_csv("./data/instacart/aisles.csv")

In [14]:
# 合并表成一张(用户 - 物品类别)
_mg = pd.merge(prior, products,on=['product_id','product_id'])
_mg = pd.merge(_mg, orders, on=['order_id', 'order_id'])
mt = pd.merge(_mg, aisles, on=['aisle_id', 'aisle_id'])

In [15]:
mt.head(5)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0,eggs
1,26,33120,5,0,Organic Egg Whites,86,16,153404,prior,2,0,16,7.0,eggs
2,120,33120,13,0,Organic Egg Whites,86,16,23750,prior,11,6,8,10.0,eggs
3,327,33120,5,1,Organic Egg Whites,86,16,58707,prior,21,6,9,8.0,eggs
4,390,33120,28,1,Organic Egg Whites,86,16,166654,prior,48,0,12,9.0,eggs

In [19]:
# 交叉表 (特殊的分组工具)
# 统计横轴与纵轴出现的次数
cross = pd.crosstab(mt['user_id'], mt['aisle'])

In [21]:
cross.head(5)

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [23]:
# 进行PCA
pca = PCA(n_components=0.9)
data = pca.fit_transform(cross)

In [29]:
print(mt)
print(data.shape)

          order_id  product_id  add_to_cart_order  reordered  \
0                2       33120                  1          1
1               26       33120                  5          0
2              120       33120                 13          0
3              327       33120                  5          1
4              390       33120                 28          1
...            ...         ...                ...        ...
32434484   3243156       20731                  1          0
32434485    860862       30582                  1          0
32434486   1333472       27906                  1          0
32434487   2122701       26086                  1          1
32434488   3168475       26086                  1          1

                          product_name  aisle_id  department_id  user_id  \
0                   Organic Egg Whites        86             16   202279
1                   Organic Egg Whites        86             16   153404
2                   Organic Egg Whites        86             16    23750
3                   Organic Egg Whites        86             16    58707
4                   Organic Egg Whites        86             16   166654
...                                ...       ...            ...      ...
32434484               Straight Sherry       134              5   166400
32434485             Natural Champagne       134              5   104017
32434486            Imperial Champagne       134              5    62079
32434487  La Grand Dame Brut Champagne       134              5    77799
32434488  La Grand Dame Brut Champagne       134              5     5223

         eval_set  order_number  order_dow  order_hour_of_day  \
0           prior             3          5                  9
1           prior             2          0                 16
2           prior            11          6                  8
3           prior            21          6                  9
4           prior            48          0                 12
...           ...           ...        ...                ...
32434484    prior             3          1                 13
32434485    prior            13          5                 14
32434486    prior            10          3                 10
32434487    prior             2          3                 14
32434488    prior             7          3                 13

          days_since_prior_order                       aisle
0                            8.0                        eggs
1                            7.0                        eggs
2                           10.0                        eggs
3                            8.0                        eggs
4                            9.0                        eggs
...                          ...                         ...
32434484                    12.0  specialty wines champagnes
32434485                    18.0  specialty wines champagnes
32434486                    10.0  specialty wines champagnes
32434487                     3.0  specialty wines champagnes
32434488                     2.0  specialty wines champagnes

[32434489 rows x 14 columns]
(206209, 27)